
body
  {
  /*  background-image: url("/img/background.jpg");
  background-image: url("/img/background1.jpg");  */
      background-color: #A3D6F5;
      max-width: 1400px;
      max-height: 1500px;
  }

.top-bar{

  background-color: #CEEBFB;
}
.top-bar-title{
  text-align: center;
}



h1{font-family: 'Poppins', sans-serif;}
h1{color: black;}
h1{text-align:center;}



h2.ridge {border-style: ridge;}
h2 {font-family: 'Josefin Sans', sans-serif;}
h2{font-size: 50px;}
h2{color: #3E72B2}
h2{text-align:center;}



h3{font-family: 'McLaren', cursive;}
h3{color: black}
h3{text-align: center;}

p{font-family: 'Staatliches', cursive;}
p{color: black;}
p{text-align:center;}

.frame{
  height: 500px;
  width:100%;
  position: fixed;
  background-color: white;

}





$menu-hover-lines-transition: all 0.35s ease;
$menu-hover-lines-border-width: 3px;

.menu-hover-lines {
  font-family: 'McLaren', cursive;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: $menu-hover-lines-transition;


  li a {
    padding: 0.75rem 0;
    color: rgba($body-font-color, 0.5);
    position: relative;
    margin-left: 1rem;
  }

  li:first-child a {
    margin-left: 0;
  }

  li.active > a {
    background-color: transparent;
  }

  a:before,
  a::after {
    height: $menu-hover-lines-border-width;
    position: absolute;
    content: '';
    transition: $menu-hover-lines-transition;
    background-color: $primary-color;
    width: 0;
  }

  a::before {
    top: 0;
    left: 0;
  }

  a::after {
    bottom: 0;
    right: 0;
  }

  a:hover,
  li.active > a {
    color: $body-font-color;
    transition: $menu-hover-lines-transition;
  }

  a:hover::before,
  .active a::before,
  a:hover::after,
  .active a::after {
    width: 100%;
  }
}







     #discovery
     {
       height: 100px;
       width: 100px;
       position: absolute;
        right: 500px;
       position: relative;
       background: yellow;
       color: red;
       text-align: center;
       line-height: 100px;
       animation-name: bounce; /* the name of the animation is bounce ~ function called */
       animation-duration: 1s; /* the time of how long the animation runs */
       animation-iteration-count: infinite;
     }

     @keyframes bounce
     {
       0 {background-color:red;} /* action of bounce that changes color to yellow */
       50% {background-color: yellow;
         transform: translatex(100px); } /* moves the box to 100px with its x coordinate */
       90% {background-color:red;}
     }



 #box2{
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: reverse; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-direction: reverse;
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}



 #box3{
   width: 200px;
   right: 100px;
   height: 100px;
   background-color: red;
   position: relative;
   -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
   -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
   -webkit-animation-iteration-count: 2; /* Safari 4.0 - 8.0 */
   -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
   animation-name: example;
   animation-duration: 4s;
   animation-iteration-count: 2;
   animation-direction: alternate;
 }


 /* Standard syntax */
 @keyframes example {
   0%   {background-color:red; right:0px; top:0px;}
   25%  {background-color:yellow; right:200px; top:0px;}
   50%  {background-color:blue; right:200px; top:200px;}
   75%  {background-color:green; right:0px; top:200px;}
   100% {background-color:red; right:0px; top:0px;}
 }






#box4
{
  width:100px;
  height:100px;
  background-color: blue;
  position: relative;
  right:250px;
  top:150px;
  animation-name:reverse;
  animation-duration:4s;
}

@keyframes reverse
{
  0%{
    left:0px; top:0px;
  }
  25% {
    left:200px;  top:0px;
  }
  50% {
    left:200px; top:200px;
  }
  75% {
    left:0px; top:200px;
  }
  100% {
    left:0px; top:0px;
  }
}




#box5{
  width: 400px;
  height: 400px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:100px; top:100px;}
  50%  {background-color:blue; left:200px; top:400px;}
  75%  {background-color:green; left:400px; top:600px;}
  100% {background-color:red; left:0px; top:0px;}
}





#discovery2
{

  position: relative;
    width: 200px;
    height: 200px;
    transition: 1s linear;
}

#discovery2:hover
{
width: 300px;
 height: 300px;
 position: absolute;
 transform: rotate(180deg);
}

#discovery3
{
  position: relative;
  left: 250px;
  bottom: 100px;
  transition: 1s linear;
}

#discovery3:hover
{
  width: 500px;
  height: 500px;
  position: absolute;
  transform: rotate(180deg);
}



.mystyle
{
  position:fixed;
  top: 20px;

}


.footer{
  width:100%;

    background-color: #3E72B2;
    text-align:center;
    position:absolute;

}


 .footer {
  background-color: rgb(51, 153, 255);
}
.footer p {
  text-align: center;
  color: rgb(255,255,255);
}
.footer nav {
  display: inline;
  text-align: center;
  color: rgb(255,255,255);
}



 .offcanvas-full-screen {
   position: fixed;
   z-index: 1;
   transition: -webkit-transform 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out;
   transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
   -webkit-backface-visibility: hidden;
           backface-visibility: hidden;
   background: #0a0a0a;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   -webkit-transform: translateX(-100%);
       -ms-transform: translateX(-100%);
           transform: translateX(-100%);
   overflow-y: auto;
  /* opacity:0.5; */
 }

 [data-whatinput='mouse'] .offcanvas-full-screen {
   outline: 0;
 }

 .offcanvas-full-screen.is-transition-overlap {
   z-index: 10;
 }

 .offcanvas-full-screen.is-transition-overlap.is-open {
   box-shadow: 0 0 10px rgba(10, 10, 10, 0.7);
 }

 .offcanvas-full-screen.is-open {
   -webkit-transform: translate(0, 0);
       -ms-transform: translate(0, 0);
           transform: translate(0, 0);
 }

 .offcanvas-full-screen.is-open ~ .off-canvas-content {
   -webkit-transform: translateX(100%);
       -ms-transform: translateX(100%);
           transform: translateX(100%);
 }

 .offcanvas-full-screen.is-transition-push::after {
   position: absolute;
   top: 0;
   right: 0;
   height: 100%;
   width: 1px;
   box-shadow: 0 0 10px rgba(10, 10, 10, 0.7);
   content: " ";
 }

 .offcanvas-full-screen.is-transition-overlap.is-open ~ .off-canvas-content {
   -webkit-transform: none;
       -ms-transform: none;
           transform: none;
 }

 .offcanvas-full-screen-inner {
   padding: 1rem;
   text-align: center;
 }

 .offcanvas-full-screen-menu {
   margin: 0;
   list-style-type: none;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-wrap: nowrap;
       -ms-flex-wrap: nowrap;
           flex-wrap: nowrap;
   -webkit-align-items: center;
       -ms-flex-align: center;
           align-items: center;
   width: 100%;
   -webkit-flex-wrap: wrap;
       -ms-flex-wrap: wrap;
           flex-wrap: wrap;
 }

 .offcanvas-full-screen-menu > li {
   -webkit-flex: 0 0 auto;
       -ms-flex: 0 0 auto;
           flex: 0 0 auto;
 }

 [data-whatinput='mouse'] .offcanvas-full-screen-menu > li {
   outline: 0;
 }

 .offcanvas-full-screen-menu > li > a {
   display: block;
   padding: 0.7rem 1rem;
   line-height: 1;
 }

 .offcanvas-full-screen-menu input,
 .offcanvas-full-screen-menu select,
 .offcanvas-full-screen-menu a,
 .offcanvas-full-screen-menu button {
   margin-bottom: 0;
 }

 .offcanvas-full-screen-menu > li {
   -webkit-flex: 0 0 100%;
       -ms-flex: 0 0 100%;
           flex: 0 0 100%;
   max-width: 100%;
 }

 .offcanvas-full-screen-menu > li > a {
   -webkit-justify-content: flex-start;
       -ms-flex-pack: start;
           justify-content: flex-start;
   -webkit-align-items: flex-start;
       -ms-flex-align: start;
           align-items: flex-start;
 }

 .offcanvas-full-screen-menu a {
   color: #fefefe;
 }

 .offcanvas-full-screen-menu a:hover {
   color: #b2b2b2;
 }

 .offcanvas-full-screen-close {
   color: #fefefe;
   font-size: 5rem;
 }

 .offcanvas-full-screen-close:hover {
   color: #b2b2b2;
 }


 .boy {
   width: 480px;
   height: 325px;
   margin: 2% auto;
   background: url('https://www.codeandweb.com/blog/2014/11/05/animate-sprites-in-css-with-texturepacker/capguy-walk.png') left center;
   animation: play .8s steps(11) infinite;

 }

 @keyframes play {
       100% {background-position:-1900px;}
     }




  /* css for floating  block animation */

.introduction
{
  border: 2px solid white;
  margin-top: 10px;
  position:relative;
  height:200px;
  width:100%;
  /*background:white; */
  /* background-image: url("/images/wave.jpg") */
  background-color: grey;
  animation: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
opacity: 0.7;

}



  .floating
  {
    animation: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

  }





  @keyframes floating
    {
        from { transform: translate(0,0px;)}
        65% {transform:translate(0,20px);}
        to {transform:translate(0,=0px);}
    }



    #footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       background-color: #CEEBFB;
       color: white;
       text-align: center;
    }



    #slide-left
    {
      width:100%;
      margin-top:-10%;
      position:absolute;
      overflow:hidden;
      /*border:2px solid black; */
      animation: 10s slideinleft;
    }

  @keyframes slideinleft
  {
    from {
      margin-left: -100%;

    }
    to {
      margin-left: 0%;

    }
  }
